*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    font-size: Arial, Helvetica, sans-serif;
}

.headerContainer {
    max-width: 900px;
    margin: 20px auto;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
}

.container .lefSide {
    flex: 1;
    margin-right: 40px;
}

.container .lefSide h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #3A4B5C;
}

.container .lefSide p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    color: #6A7D8B;
}

.container .lefSide input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    padding: 10px 2px;
    margin-bottom: 1.2rem;
    font-size: .8rem;
    outline: none;
}

.container .lefSide button {
    background-color: #227C9D;
    color: #FFF;
    font-size: 1.2rem;
    border: none;
    border-radius: .2rem;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 2.5rem;
    transition: all ease .5s;
}

.container .lefSide button:hover {
    opacity: .9;
}

.container .rightSide {
    flex: 1;
    margin-left: 40px;
}

/* Retirar as setinhas do input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}